<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.}}</title>
</head> 
<body>

<strong>{{.}}</strong><br>
<a href="/">index</a><br>
<a href="/dog">dog</a><br>
<a href="/me">me</a><br>

</body>
</html>