<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Fall.Term}} {{.AcaYear}}
    {{range .Fall.Courses}}
        Name : {{.Name}}
        Number : {{.Number}}
        Units : {{.Units}}
    {{end}}
{{end}}

</body>
</html>